<form action="/Search">
    <div class="single_widget search_widget">
        <div id="imaginary_container">
            <div class="input-group stylish-input-group">
                <input type="text" name="q" class="form-control" placeholder="جستجو...">
                <span class="input-group-addon">
                    <button type="submit">
                        <span class="lnr lnr-magnifier"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
</form>

