@model InstaShop.DataLayer.Models.PageGroup

@{
    ViewBag.Title = "Delete";
}

<h2>حذف گروه</h2>

<h3>آیا از حذف گروه "@Model.GroupTitle" مطمئن هستید ؟</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupTitle)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger" />
            <a class="btn btn-default btn-sm" href="/Admin/PageGroups/">
                <i class="glyphicon glyphicon-backward"></i>
            </a>
        </div>
    }
</div>
